body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px 0;
}

main {
    padding: 20px 0;
}

#post-form, #posts {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#post-form h2, #posts h2 {
    margin-top: 0;
}

#new-post-form input, #new-post-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    box-sizing: border-box;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #333;
    color: #ddd;

}

@media (max-width: 768px) {
    .container {
        width: 95%;
    }
}
